@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic);

html {
	font-size: 1em;
	height:100%;
}

body {
	position: relative;
	font-weight: 400;
	line-height: 1.45;
	font-size: 18px;
	min-height:100%;
	padding-bottom: 30em;
	font-family: 'Source Sans Pro';
}

p {
	margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}

h1, h2, h3 {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 300;
}

h1 {
	margin-top: 0;
	font-size: 3.157em;
}

h2 {
	font-size: 2.369em;
}

h3 {
	font-size: 1.777em;
}

h4 {
	font-size: 1.333em;
}

small, .font_small {
	font-size: 0.75em;
}

.post-meta {
	font-style: italic;
	font-weight: 300;
}

.postitem
{
	margin-top:.5em;
}

.lead {
	color:inherit !important;	
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

