<div class="row footer-row" style="margin-left:0; margin-right:0;">


      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="username"><i class="fa fa-github-alt"></i> {{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username"><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/pub/zacharias-stankiewicz/50/350/aaa">Zacharias Stankiewicz</a></span>
            </a>
          </li>
          {% endif %}
          
         {% if site.aboutme_username %}
          <li>
            <a href="https://about.me/{{ site.aboutme_username }}">
              <span class="username"><i class="fa fa-square-o"></i> {{ site.aboutme_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username"><i class="fa fa-twitter"></i> {{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.google_username %}
            <li>
            <a href="https://plus.google.com/+{{ site.google_username }}">
              <span class="username"><i class="fa fa-google-plus-square"></i> +{{ site.google_username }}</span>
            </a>
          </li>
          {% endif %}

        </ul>
          <p class="text">{{ site.description }}</p>
          <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe to posts via RSS</a></p>

      </div>



      <div class="col-md-8">
      		<div id="test"></div>
            </div>
    </div>
    
    
    <script type="text/javascript">
		$(document).ready(function () {
		  $('#test').rssfeed('https://www.instapaper.com/archive/rss/2140502/gJarrcxzUUjxTGAE7n0rRoEo4Ho', {
		    limit: 5
		  });
		});
		</script>

    
</div>